@import url('reset.css');

body {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    min-width: 100vw;
    /** Unsplash photo **/
    background: url(../img/chris-karidis-nnzkZNYWHaU-unsplash.jpg) center center no-repeat #3b3a4d;;
    background-size: cover;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexcolumn {
    flex-direction: column;
}
.container {
    display: flex;
    /** Box shadow **/
    box-shadow: 1px 0px 21px 3px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px 0px 21px 3px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 0px 21px 3px rgba(0,0,0,0.51);
    background: rgba(0, 0, 0, 0.75);
}
.container .is-row:first-child {
    flex-grow: 1;
}
.container .is-row:nth-child(2) {
    flex-grow: 8;
}
.container .is-row:last-child {
    flex-grow: 1;
}
.container .is-row {
    justify-content: center;
    align-content: center;
}
.sub-container {
    display: flex;
    align-items: baseline;
}
.sub-container div {
    flex-grow: 1;
    justify-content: center;
    align-content: center;
}
.sub-container div.hero {
    flex-grow: 5;
    margin: 0 5rem 0 5rem;
}
.sub-container div.hero-nav {
    flex-grow: 1;
}
.sub-container div.social {
    justify-content: flex-start;
    padding: 1rem;
}
.sub-container div.social ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
.sub-container div.social ul li {
    display: inline-block;
    margin-left: 0.5rem;
}
.sub-container div.social ul li:first-child {
    margin-left: 0;
}

/** HEADER Styles **/
header .sub-container {
    margin: 3rem 3rem 0 3rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
header .logo span {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
}
header .logo span:nth-child(2) {
    letter-spacing: -1px;
}
header .menu nav ul {
    list-style-type: none;
    display: flex;
}
header .menu nav ul li {
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    font-family: sans-serif;
    text-align: center;
    font-size: 0.8rem;
    border-bottom: 2px solid transparent;
}
header .menu nav ul li:hover {
    border-bottom: 2px solid #fff;
}
header .menu nav ul li a:link, header .menu nav ul li a:visited {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-bottom: 3rem;
}
header .menu nav ul li a:hover, header .menu nav ul li a:active {
    /** nothing for now **/
}
header .user {
    font-size: 0.8rem;
    padding-left: 50px;
    font-family: sans-serif;
}
header .user img {
    vertical-align: middle;
    width: 35px;
    border-radius: 20px;
    border: 1px solid #fff;
    margin-right: 10px;
}
header .mobile {
    width: 40px;
    display:flex;
    justify-content: flex-end;
}
header .mobile .dots {
    margin-left: 20px;
}
section.banner .sub-container {
    padding: 3rem 3rem 0 3rem;
}

/** FOOTER Styles **/
footer .sub-container {
    padding: 3rem 3rem 0 3rem;
    height: 50px;
}

/** HERO Styles **/
section.banner .hero h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 13.5rem;
    letter-spacing: .8rem;
    text-transform: uppercase;
    background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
section.banner .hero h2 {
    font-family: 'Zen Loop', cursive;
    font-size: 1.5rem;
    text-align: center;
}
section.banner .stars {
    display: flex;
    margin: 1rem;
}
section.banner .stars .star {
    margin: 0 0.5rem;
}
section.banner .cta {
    display: flex;
    margin: 2rem;
}
section.banner .cta a.btn-hero:link, section.banner .cta a.btn-hero:visited {
    color: #fff;
    text-transform: uppercase;
    background: #234972;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.9rem;
}
section.banner .cta a.btn-hero:hover, section.banner .cta a.btn-hero:active {
    background: #111;
}
.sub-container .hero-nav {
    font-family: sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255,255,255,0.5);
    padding-top: 1.2rem;
}
.sub-container .hero-nav .item .icon {
    opacity: 0.5;
}
.sub-container .hero-nav > .item:first-child .icon {
    margin-right: 1rem;
    order: 0
}
.sub-container .hero-nav > .item:last-child .icon {
    margin-left: 1rem;
    order: 1
}
.sub-container .hero-nav > .item:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sub-container .hero-nav > .item:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/** ICONS Styles **/
.icon {
    display: block;
    width: 20px;
    height: 20px;
}
.icon.facebook {
    background: url("./../img/facebook.svg") 0 0 no-repeat;
    background-size: contain;
}
.icon.instagram {
    background: url("./../img/instagram.svg") 0 0 no-repeat;
    background-size: contain;
}
.icon.linkedin {
    background: url("./../img/linkedin.svg") 0 0 no-repeat;
    background-size: contain;
}
.icon.search {
    background: url("./../img/search-magnifier-interface-symbol.svg") 0 0 no-repeat;
    background-size: contain;
}
.icon.dots {
    background: url("./../img/menu.svg") 0 0 no-repeat;
    background-size: contain;
}
.icon.left {
    background: url("./../img/next.svg") 0 0 no-repeat;
    background-size: contain;
    transform: scaleX(-1);
}
.icon.right {
    background: url("./../img/next.svg") 0 0 no-repeat;
    background-size: contain;
}
.icon.star {
    background: url("./../img/star.svg") 0 0 no-repeat;
    background-size: contain;
}

@media screen and (max-width: 992px) {
    .container {
        height: 100vh;
        width: 100vw;
    }
    header .menu, header .user {
        display: none;
    }
    header .logo, header .mobile {
        padding-bottom: 2rem;
    }
    section.banner .hero h1 {
        font-size: 5rem;
    }
}
@media screen and (min-width: 992px) and (max-width: 414px) {
    .container {
        height: 100vh;
        width: 100vw;
    }
}